<script type="text/ng-template" id="registerConfNextActionTPL.html">
	<div class="modal-header">
		<h3>Checkout or continue shopping?</h3>
	</div>
	<div class="modal-body">
		<p>Your registration information has been temporarily stored.</p>
		<p>If you do not checkout, your registration information will be cleared when you close your browser window.</p>
	</div>
	<div class="modal-footer">
		<a class="btn btn-info pull-left" href="http://upstreamacademy.com/">Continue Shopping</a>
		<button class="btn btn-primary" ng-click="cart()">Checkout</button>
	</div>
</script>

<form name="optionsForm" id="optionsForm">

	<div class="row" ng-switch="noFields">
		<div class="offset2 span8 well" ng-switch-when="true">
			<h2>{{con.item.name}} has no options.</h2>
			<p>Please <a href="http://upstreamacademy.com/">continue shopping</a> or <a href="#/">checkout</a>.</p>
		</div>

		<div ng-switch-default>
			<div class="span6" ng-class="{offset3: !attID}">
				<div class="form-horizontal css-form well">
					<h3>Questions</h3>
					<p>Please fill in as much of the following information as possible</p>
					<div class="control-group" ng-repeat="field in con.fields | filter:{name:'!Attendees'}" ng-switch="field.type">

						<div ng-switch-when="text">
							<label class="control-label" for="{{field.fieldID}}">{{field.name}} <span ng-show="field.required">*</span></label>
							<div class="controls">
								<input type="text" id="{{field.fieldID}}" ng-model="con.options[field.fieldID]" placeholder="{{field.name}}" ng-required="{{field.required}}" ua-magic-formatter="{{field.settings}}" class="input-block-level" />
							</div>
						</div>

						<div ng-switch-when="textarea">
							<label class="control-label" for="{{field.fieldID}}">{{field.name}} <span ng-show="field.required">*</span></label>
							<div class="controls">
								<textarea id="{{field.fieldID}}" ng-model="con.options[field.fieldID]" ng-required="{{field.required}}" placeholder="{{field.name}}" class="input-block-level" rows="5"></textarea>
							</div>
						</div>

						<div ng-switch-when="image">
							<label class="control-label">{{field.name}} <span ng-show="field.required">*</span></label>
							<div class="controls">
								<span ua-image-upload="con.options[field.fieldID]"></span>
								<input type="hidden" ng-model="con.options[field.fieldID]" ng-required="{{field.required}}" />
							</div>
						</div>

						<div ng-switch-when="radioboxes">
							<label class="control-label">{{field.name}} <span ng-show="field.required">*</span></label>
							<div class="controls" ng-repeat="option in field.settings">
								<input type="radio" name="optionsRadios" ng-model="con.options[field.fieldID]" value="{{option}}" ng-required="field.required">&nbsp;{{option}}
							</div>
						</div>

						<div ng-switch-when="otherSelect">
							<label class="control-label">{{field.name}} <span ng-show="field.required">*</span></label>
							<div class="controls">
								<select ng-model="con.options[field.fieldID]" ng-required="field.required" ng-options="x for x in helpers.otherSelect.pre(field.settings)" ng-change="helpers.otherSelect.change(con.options[field.fieldID])" class="input-block-level"></select>
								<input type="text" ng-show="helpers.otherSelect.isOther" class="input-block-level" style="margin-top:1em" ng-model="con.options[field.fieldID]" />
							</div>
						</div>

						<div ng-switch-default>
							<h4>Unknown question type ({{field.name}} - {{field.type}})</h4>
						</div>

					</div>
				</div><!-- .well -->
			</div><!-- .span6 -->

			<div class="span6" ng-show="attID">
				<div class="well">
					<h3>Event Attendees</h3>
					<p>Choose and modify the attendees to this event here.<br/>Pricing: <span>{{con.item.cost.text}}</span>.</p>

					<table class="table" ng-show="con.options[attID].length">
						<caption class="muted">Click a row to modify user information</caption>
						<thead>
							<tr>
								<th>Personal Info</th>
								<th>Address</th>
								<th><abbr title="{{con.item.cost.text}}">Cost</abbr></th>
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="person in con.options[attID]" ng-click="edit(person)" ng-class="{warning:person.immutable}">
								<td>
									<span ng-show="person.title">{{person.title}}<br/></span>
									{{person.legalName}}<br/>
									<a ng-href="mailto:{{person.email}}">{{person.email}}</a><br/>
									{{person.phone}}
								</td>
								<td>
									{{person.addr.addrName}}<br/>
									{{person.addr.addr1}}<br/>
									<span ng-show="person.addr.addr2">{{person.addr.addr2}}<br/></span>
									{{person.addr.city}} {{person.addr.state}}, {{person.addr.zip}}
								</td>
								<td>
									<span style="float:right">{{computeCost($index, person) | currency}}<br/><br/></span>
									<button style="clear:both" type="button" class="close" ng-click="rem($index,$event)" ng-hide="person.immutable">&times;</button>
								</td>
							</tr>
						</tbody>
						<tfoot>
							<tr>
								<th></th>
								<th><abbr title="{{con.item.cost.text}}" class="pull-right">Total:</abbr></th>
								<th>{{total | currency}}</th>
							</tr>
						</tfoot>
					</table>

					<button type="button" class="btn btn-success" ng-click="add()">Add {{con.options[attID].length?'another ':''}}Attendee</button>
					<button type="button" class="btn btn-danger pull-right" ng-click="clr()" ng-show="con.options[attID].length">Clear</button>
				</div><!-- .well -->
			</div><!-- .span6 -->
			
		</div><!-- ng-switch-default -->

	</div>

	<div class="row">
		<div class="span8 offset2">
			<notify message="message"></notify>
		</div>
	</div>

	<div class="form-actions" ng-hide="noFields">
		<button type="submit" form="optionsForm" class="btn btn-primary" ng-click="save()" ng-disabled="equal(con.options, orig) || optionsForm.$invalid">Save</button>&nbsp;&nbsp;
		<button type="button" form="optionsForm" class="btn btn-warning" ng-click="reset()" ng-disabled="equal(con.options, orig)">Reset</button>
		<a href="javascript:history.back()" class="btn btn-info pull-right">Cancel</a>
	</div>

</form>

<!-- <pre>{{con | json}}</pre> -->
<!-- <pre>{{orig | json}}</pre> -->