<div ng-switch="state">
	<!-- file input -->
	<input ng-switch-default type="file" id="{{field.fieldID}}" name="fileToUpload" ng-model-instant ng-model="con.options[field.fieldID]" />

	<!-- image preview -->
	<div ng-switch-when="1" ng-show="files.length">
		<img ng-if="image" ng-src="{{image}}" alt="" style="max-width:200px;max-height:200px;" />
		<br />
		<div ng-repeat="file in files.slice(0)">
			<span>{{file.webkitRelativePath || file.name}}</span>&nbsp;
			(<span ng-switch="file.size > 1024*1024">
				<span ng-switch-when="true">{{file.size / 1024 / 1024 | number:2}} MB</span>
				<span ng-switch-default>{{file.size / 1024 | number:2}} kB</span>
			</span>)
		</div>
		<br />
		<div ng-hide="progressVisible">
			<input type="button" ng-click="uploadFile()" value="Confirm and Upload!" />
			&nbsp;
			<input type="button" ng-click="$parent.state = 0" value="Reset" />
		</div>
		<div ng-show="progressVisible">
			<div class="progress progress-striped active">
				<div class="bar" ng-style="{'width': progress+'%'}">{{progress}}%</div>
			</div>
		</div>
	</div>

	<!-- Show uploaded image -->
	<div ng-switch-when="2">
		<img ng-if="image" ng-src="{{image}}" alt="" style="max-width:200px;max-height:200px;">
		&nbsp;
		<button type="button" ng-click="resetImage()">Change</button>
	</div>
</div>