<div class="modal-header" ng-switch="addNew">
	<h3 ng-switch-when="true" ng-switch="canChange">
		<span ng-switch-when="true">Add Attendee</span>
		<span ng-switch-default>Edit Attendee</span>
	</h3>
	<h3 ng-switch-default>Select Attendee</h3>
</div>
<div class="modal-body">

	<notify message="message"></notify>

	<form class="form-horizontal css-form" name="registration" ng-show="addNew">

		<div class="form-group">
			<label class="col-sm-3" for="legalName">Legal Name *</label>
			<div class="col-sm-9">
				<input class="form-control" type="text" id="legalName" ng-model="contact.legalName" placeholder="Legal Name" required>
			</div>
		</div>

		<div class="form-group">
			<label class="col-sm-3" for="preName">Preferred Name</label>
			<div class="col-sm-9">
				<input class="form-control" type="text" id="preName" ng-model="contact.preName" placeholder="Preferred Name">
				<span class="help-inline">(i.e., Bill instead of William, etc.)</span>
			</div>
		</div>

		<div class="form-group">
			<label class="col-sm-3" for="title">Title / Position *</label>
			<div class="col-sm-9">
				<input class="form-control" type="text" id="title" ng-model="contact.title" placeholder="Title / Position" required>
			</div>
		</div>

		<div class="form-group">
			<label class="col-sm-3" for="phone">Phone</label>
			<div class="col-sm-9">
				<input class="form-control" type="text" id="phone" ng-model="contact.phone" placeholder="Phone" name="phone" ua-phone>
				<span class="help-inline">(xxx) xxx-xxxx</span>
			</div>
		</div>

		<div class="form-group">
			<label class="col-sm-3" for="email">Email Address *</label>
			<div class="col-sm-9">
				<input class="form-control" type="email" id="email" ng-model="contact.email" placeholder="Email Address" required>
			</div>
		</div>

		<div class="form-group">
			<label class="col-sm-3">Address *</label>
			<div class="col-sm-9">
				<div ng-switch="contact.addr.addressID">

					<div ng-switch-when="null" class="input-group">
						<input class="form-control" type="text" value="Click 'set' to assign" disabled />
						<span class="input-group-btn">
							<button type="button" class="btn btn-info" ng-click="setAddr()" ng-disabled="sameAddr">Set</button>
						</span>
					</div>

					<div ng-switch-default class="input-group">
						<input class="form-control" type="text" value="{{contact.addr.addrName}}" disabled />
						<span class="input-group-btn">
							<button type="button" class="btn btn-warning" ng-click="setAddr()" ng-disabled="sameAddr">Edit</button>
						</span>
					</div>

				</div>
				<label class="checkbox"><input type="checkbox" ng-model="$parent.sameAddr" />Same as Firm</label>
			</div>
		</div>

		<span db-questions fields="con.fields" options="contact.options" on-user="true" force-update="forceUpdate"></span>

		<p>* Required field</p>
	</form>

	<div ng-hide="addNew">
		<p>
			Choose a contact to add to this conference below by clicking on a contact (you will be asked to verify their information) or click "Add Employee" to create a new contact. 
			<span class="text-muted">Click on a name to modify that person's contact information</span>
		</p>
		<table class="table table-striped table-hover">
			<thead>
				<tr>
					<th>Personal Info</th>
					<th>Address</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="person in firmEmploy" ng-click="edit(person)">
					<td>
						{{person.legalName}}<br/>
						<span ng-show="person.title">{{person.title}}<br/></span>
						<a ng-href="mailto:{{person.email}}">{{person.email}}</a><br/>
						{{person.phone}}
					</td>
					<td>
						{{person.addr.addrName}}<br/>
						{{person.addr.addr1}}<br/>
						<span ng-show="person.addr.addr2">{{person.addr.addr2}}<br/></span>
						{{person.addr.city}} {{person.addr.state}}, {{person.addr.zip}}
						<!-- <button class="btn btn-primary btn-xs pull-right" ng-click="choose(person, $event)">Choose</button> -->
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	
</div>
<div class="modal-footer">
	<button class="btn btn-success pull-left" ng-click="toggle()" ng-hide="addNew">Add Employee</button>
	<button class="btn btn-primary" ng-disabled="registration.$invalid" ng-click="ok()" ng-show="addNew">OK</button>
	<button class="btn btn-warning" ng-click="cancel()">Cancel</button>
</div>
