<div class="modal-header" ng-switch="addNew">
	<h3 ng-switch-when="true" ng-switch="canChange">
		<span ng-switch-when="true">Add Conference Attendee</span>
		<span ng-switch-default>Edit Conference Attendee</span>
	</h3>
	<h3 ng-switch-default>Select Conference Attendee</h3>
</div>
<div class="modal-body">

	<notify message="message"></notify>

	<form class="form-horizontal css-form" name="registration" ng-show="addNew">

		<div class="control-group">
			<label class="control-label" for="legalName">Legal Name *</label>
			<div class="controls">
				<input type="text" id="legalName" ng-model="contact.legalName" placeholder="Legal Name" required>
			</div>
		</div>

		<div class="control-group">
			<label class="control-label" for="preName">Preferred Name</label>
			<div class="controls">
				<input type="text" id="preName" ng-model="contact.preName" placeholder="Preferred Name">
				<span class="help-inline">(i.e., Bill instead of William, etc.)</span>
			</div>
		</div>

		<div class="control-group">
			<label class="control-label" for="title">Title / Position *</label>
			<div class="controls">
				<input type="text" id="title" ng-model="contact.title" placeholder="Title / Position" required>
			</div>
		</div>

		<div class="control-group">
			<label class="control-label" for="phone">Phone</label>
			<div class="controls">
				<input type="text" id="phone" ng-model="contact.phone" placeholder="Phone" name="phone" ua-phone>
				<span class="help-inline">(xxx) xxx-xxxx</span>
			</div>
		</div>

		<div class="control-group">
			<label class="control-label" for="email">Email Address *</label>
			<div class="controls">
				<input type="email" id="email" ng-model="contact.email" placeholder="Email Address" required>
			</div>
		</div>

		<div class="control-group">
			<label class="control-label">Address *</label>
			<div class="controls">
				<div class="input-append" ng-switch="contact.addr.addressID">

					<div ng-switch-when="null">
						<span class="input-medium uneditable-input">Click 'set' to assign</span>
						<button type="button" class="btn btn-info" ng-click="setAddr()" ng-disabled="sameAddr">Set</button>
					</div>

					<div ng-switch-default>
						<span class="input-medium uneditable-input">{{contact.addr.addrName}}</span>
						<button type="button" class="btn btn-warning" ng-click="setAddr()" ng-disabled="sameAddr">Edit</button>
					</div>

				</div>
				<label class="checkbox"><input type="checkbox" ng-model="$parent.sameAddr" />Same as Firm</label>
			</div>
		</div>
		<p>* Required field</p>
	</form>

	<div ng-hide="addNew">
		<p>Choose a contact to add to this conferenct or click "Add Employee" below to create a new contact. <span class="muted">Click a row to modify user information</span></p>
		<table class="table table-striped table-hover">
			<thead>
				<tr>
					<th>Personal Info</th>
					<th>Address</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="person in firmEmploy" ng-click="edit(person)">
					<td>
						{{person.legalName}}<br/>
						<span ng-show="person.title">{{person.title}}<br/></span>
						<a ng-href="mailto:{{person.email}}">{{person.email}}</a><br/>
						{{person.phone}}
					</td>
					<td>
						{{person.addr.addrName}}<br/>
						{{person.addr.addr1}}<br/>
						<span ng-show="person.addr.addr2">{{person.addr.addr2}}<br/></span>
						{{person.addr.city}} {{person.addr.state}}, {{person.addr.zip}}
						<button class="btn btn-primary btn-mini pull-right" ng-click="choose(person, $event)">choose</button>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	
</div>
<div class="modal-footer">
	<button class="btn btn-success pull-left" ng-click="toggle()" ng-hide="addNew">Add Employee</button>
	<button class="btn btn-primary" ng-disabled="registration.$invalid" ng-click="ok()" ng-show="addNew">OK</button>
	<button class="btn btn-warning" ng-click="cancel()">Cancel</button>
</div>