<div class="modal-header" ng-switch="address.addressID">
	<h3 ng-switch-when="null">Add an Address</h3>
	<h3 ng-switch-when="undefined">Add an Address</h3>
	<h3 ng-switch-default>Edit an Address</h3>
</div>
<div class="modal-body">
	<form class="form-horizontal" name="addrForm">

		<notify message="message"></notify>

		<div class="form-group">
			<label class="col-md-4 control-label" for="inputEmail">Name *</label>
 			<div class="col-md-8">
				<input class="form-control" type="text" id="inputEmail" placeholder="Name" ng-model="address.addrName" required>
				<span class="help-inline">Billings Office, Home Address, etc...</span>
			</div>
		</div>

		<div class="form-group">
			<label class="col-md-4 control-label" for="addr1">Mailing Address *</label>
 			<div class="col-md-8">
				<input class="form-control" type="text" id="addr1" placeholder="Mailing Address" ng-model="address.addr1" required>
			</div>
		</div>

		<div class="form-group">
			<label class="col-md-4 control-label" for="addr2">
				Physical Address<br/>
				<span class="text-muted">(if different)</span>
			</label>
 			<div class="col-md-8">
				<input class="form-control" type="text" id="addr2" placeholder="Physical Address" ng-model="address.addr2">
			</div>
		</div>

		<div class="form-group">
			<label class="col-md-4 control-label" for="city">City *</label>
 			<div class="col-md-8">
				<input class="form-control" type="text" id="city" placeholder="City" ng-model="address.city" required>
			</div>
		</div>

		<div class="form-group">
			<label class="col-md-4 control-label" for="state">State *</label>
 			<div class="col-md-8">
				<input class="form-control" type="text" id="state" placeholder="State" ng-model="address.state" required>
			</div>
		</div>

		<div class="form-group">
			<label class="col-md-4 control-label" for="zip">Zip Code *</label>
 			<div class="col-md-8">
				<input class="form-control" type="text" id="zip" placeholder="Zip Code" ng-model="address.zip" required>
			</div>
		</div>
		<p>* Required field</p>
	</form>
</div>
<div class="modal-footer">
	<button class="btn btn-primary" ng-click="ok()" ng-disabled="addrForm.$invalid">OK</button>
	<button class="btn btn-warning" ng-click="cancel()">Cancel</button>
</div>