<div class="row">
	<div class="col-md-12" ng-switch="items.length">
		<p ng-switch-when="0">There are no past purchases available.</p>

		<div ng-switch-default>
			<form class="pull-right col-sm-3">
				<div class="input-group">
					<input type="text" ng-model="criteria" class="input-medium search-query form-control" placeholder="Search">
					<span class="input-group-btn">
						<button type="reset" class="btn btn-default" ng-click="criteria=''">Clear</button>
					</span>
				</div>
			</form>
			<table class="table table-striped table-hover">
				<thead>
					<tr>
						<th ng-click="change_order('name')">
							Name&nbsp;
							<i class="glyphicon" ng-class="order_class()" ng-show=" orderBy == 'name' "></i>
						</th>
						<th ng-click="change_order('legalName')">
							Buyer&nbsp;
							<i class="glyphicon" ng-class="order_class()" ng-show=" orderBy == 'legalName' "></i>
						</th>
						<th ng-click="change_order('stamp')">
							When&nbsp;
							<i class="glyphicon" ng-class="order_class()" ng-show=" orderBy == 'stamp' "></i>
						</th>
						<th ng-click="change_order('template.name')">
							Options&nbsp;
							<i class="glyphicon" ng-class="order_class()" ng-show=" orderBy == 'template.name' "></i>
						</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="item in filtered = (items | filter:criteria) | orderBy:orderBy:orderRev">
						<td ng-switch="!item.url">
							<span ng-switch-when="true">{{item.name}}</span>
							<a ng-switch-default ng-href="{{item.url}}">{{item.name}}</a>
							<span ng-show="item.desc" class="text-muted"><br />{{item.desc}}</span>
						</td>
						<td>{{item.legalName || '-'}}</td>
						<td class="nowrap">{{(item.stamp | date:'MMM d, y') || '-'}}</td>
						<td ng-switch="item.template.name">
							<span ng-switch-when="Download">
								<a ng-href="/files/{{item.settings.file}}" class="btn btn-info btn-xs" target="_Blank">Download</a>
							</span>
							<span ng-switch-when="Hardcopy">
								<a ng-href="/files/{{item.settings.file}}" class="btn btn-info btn-xs" target="_Blank">Download</a>
							</span>
							<span ng-switch-when="Conference">
								<button class="btn btn-xs" ng-click="showAttendees(item)">Attendees</button>
							</span>
							<span ng-switch-default>-</span>
						</td>
					</tr>
				</tbody>
				<tfoot>
					<tr>
						<th></th>
						<th></th>
						<th><span class="pull-right">Item count:</span></th>
						<th>{{filtered.length}}<span ng-hide="items.length == filtered.length">&nbsp;of {{items.length}}</span></th>
					</tr>
				</tfoot>
			</table>
		</div>
	</div>
</div>

