<div class="row">
	<div class="col-md-offset-3 col-md-6" ng-switch="check">

		<form class="form-horizontal css-form" name="passChange" ng-switch-when="1">
			<p>
				Below is your password reset form.&nbsp;
				Be sure to create a strong enough password to thwart attacks
			</p>
			
			<notify message="message"></notify>

			<div ng-show="passChange.inputPassword.$error.passValid">
				<p>Unfulfilled Password Requirements:</p>
				<ul>
					<li ng-show="passChange.inputPassword.$error.metLength">At least 6 characters long</li>
					<li ng-show="passChange.inputPassword.$error.isSpecial">At least 1 number <strong>OR</strong> 1 special character</li>
				</ul>
			</div>

			<div class="form-group">
				<div class="col-sm-3">
 					<label class="control-label" for="inputPassword">New Password *</label>
				</div>
				<div class="col-sm-9">
					<input type="password" id="inputPassword" name="inputPassword" ng-model="user.password" placeholder="Password" ua-pass-validate required class="form-control">
				</div>
			</div>

			<div class="form-group">
				<div class="col-sm-3">
 					<label class="control-label" for="inputPassword">Re-type Password *</label>
				</div>
				<div class="col-sm-9">
					<input type="password" id="inputPassword" ng-model="user.passVerify" placeholder="Password" required class="form-control">
				</div>
			</div>

			<div class="form-group">
				<div class="col-sm-8 col-sm-offset-3">
					<button type="submit" class="btn btn-primary" ng-click="changePass()" ng-disabled="passChange.$invalid || processing">Change Password</button>&nbsp;
					<a href="/" class="btn btn-default">Cancel</a>
				</div>
			</div>
		</form>

		<div ng-switch-default class="alert alert-danger">
			<h4>Error!</h4>
			It appears this link is either broken or has expired.<br/>
			Please attempt a password reset again!
		</div>
	</div>
</div>