<div class="row">
	<div class="span9">
		<table class="table table-hover">
			<thead>
				<tr>
					<th>Name</th>
					<th>Items</th>
					<th>Code</th>
					<th>Amount</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="discount in discounts" ng-click="edit(discount)" ng-class="{error:discount.active=='no'}">
					<td>
						<input type="checkbox" ng-model="discount.active" ng-true-value="yes" ng-false-value="no" 
							title="Enable/Disable Code" ng-change="change(discount)" ng-click="clickCatch($event)" />
						&nbsp;&nbsp;
						{{discount.name}}
					</td>
					<td ng-switch="(discount.itemID==null)*2 + (discount.productID==null)">
						<span ng-switch-when="1">Item: {{discount.itemID}}</span>
						<span ng-switch-when="2">Product: {{discount.productID}}</span>
						<span ng-switch-when="3">Global Discount</span>
						<span ng-switch-default>What?</span>
					</td>
					<td><code>{{discount.code}}</code></td>
					<td>
						{{discount.amount | currency}}
						<button class="close pull-right">&times;</button>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	<div class="span3">
		<table class="table">
			<thead>
				<tr><th>Row Color Means</th></tr>
			</thead>
			<tbody>
				<tr><td>Active Discount</td></tr>
				<tr class="error"><td>Inactive Discount</td></tr>
			</tbody>
		</table>
	</div>
</div>

<pre>{{discounts | json}}</pre>