<script type="text/ng-template" id="discountConfirmDelete.tpl.html">
	<div class="modal-header">
		<h3>Are you sure?</h3>
	</div>
	<div class="modal-body">
		<p>Delete "<b>{{discount.name}}</b>" (<code>{{discount.code}}</code>)?</p>
		<p>This action cannot be reversed.</p>
	</div>
	<div class="modal-footer">
		<button class="btn btn-warning" ng-click="yes()">Yes</button>
		<button class="btn btn-primary" ng-click="no()">No</button>
	</div>
</script>

<div class="row">
	<div class="span10 offset1">
		<p>Click a discount to modify, toggle it's active status with the checkbox on the left, or delete a discount with the "x" on the right.</p>
		<table class="table table-hover">
			<thead>
				<tr>
					<th>Name</th>
					<th>Items</th>
					<th>Code</th>
					<th>Amount</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="discount in discounts" ng-click="edit(discount)">
					<td>
						<input type="checkbox" ng-model="discount.active" ng-true-value="yes" ng-false-value="no" 
							title="Enable/Disable Code" ng-change="change(discount)" ng-click="clickCatch($event)" />
						&nbsp;&nbsp;
						{{discount.name}}
					</td>
					<td ng-switch="(discount.itemID==null)*2 + (discount.productID==null)">
						<span ng-switch-when="1">Item: <em>{{discount.display}}</em> of Product: <em>{{discount.parent}}</em></span>
						<span ng-switch-when="2">Product: <em>{{discount.display}}</em></span>
						<span ng-switch-when="3"><em>Global Discount</em></span>
						<span ng-switch-default>What?</span>
					</td>
					<td><code>{{discount.code}}</code></td>
					<td>
						{{discount.amount | currency}}
						<button class="close pull-right" ng-click="rem($event, discount)">&times;</button>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>

<pre>{{discounts | json}}</pre>