<div class="row">
	<form name="customForm" class="form-horizontal col-md-8 col-md-offset-2">
		<fieldset>
			<legend>Pay an Invoice</legend>
			<p>
				If you want to pay for a past purchase and you do not have an invoice,<br/>
				please enter a brief description of your payment.
			</p>

			<notify message="message"></notify>

			<div class="form-group">
				<label class="control-label col-sm-3" for="desc">Invoice # / Description</label>
				<div class="col-sm-9">
					<input class="form-control" type="text" id="desc" ng-model="item.desc" placeholder="Invoice # / Description" required>
				</div>
			</div>

			<div class="form-group">
				<label class="control-label col-sm-3" for="cost">Amount (US Dollars)</label>
				<div class="col-sm-9">
					<div class="input-group">
						<span class="input-group-addon">$</span>
						<input type="number" id="cost" placeholder="Amount (US Dollars)" min="0" ng-model="item.cost" required class="form-control">
						<span class="input-group-addon">.00</span>
					</div>
					<p class="help-block">* Only include numerical digits, i.e. no commas, dollar signs, etc.</p>
				</div>
			</div>

			<div class="form-actions navbar navbar-default">
				<button type="submit" class="btn btn-primary pull-right" ng-click="add()" ng-disabled="customForm.$invalid">Add Payment to Cart</button>
				&nbsp;&nbsp;
				<button type="reset" class="btn btn-default">Clear</button>
			</div>

		</fieldset>
	</form>
</div>

