<div class="row">
	<form name="customForm" class="form-horizontal span8 offset2">
		<fieldset>
			<legend>Custom Payment Form</legend>

			<notify message="message"></notify>

			<div class="control-group">
				<label class="control-label" for="desc">Invoice # / Description</label>
				<div class="controls">
					<input class="input-block-level" type="text" id="desc" ng-model="item.description" placeholder="Invoice # / Description" required>
				</div>
			</div>

			<div class="control-group">
				<label class="control-label" for="cost">Amount (US Dollars)</label>
				<div class="controls">
					<div class="input-prepend input-append">
						<span class="add-on">$</span>
						<input type="number" id="cost" placeholder="Amount (US Dollars)" min="0" ng-model="item.cost" required>
						<span class="add-on">.00</span>
					</div>
				</div>
			</div>

			<div class="control-grou">
				<div class="controls">
					<button type="submit" class="btn btn-primary" ng-click="add()" ng-disabled="customForm.$invalid">Add Payment to Cart</button>
					&nbsp;&nbsp;
					<button type="reset" class="btn">Clear</button>
				</div>
			</div>

		</fieldset>
	</form>
</div>

<!-- Send full object to cart, interface passes objects through, instead of looking up id on getCart -->