<script type="text/ng-template" id="registerFirmTypeAheadTPL.html">
	<a>
		<span bind-html-unsafe="match.label | typeaheadHighlight:query"></span> 
		(<span>{{ match.model.website | replace:{'http://':'','https://':''} }}</span>)
	</a>
</script>

<form class="form-horizontal css-form" name="settings">
	<div class="row">
		<div class="col-md-6">
			<fieldset>
				<legend>Firm Information</legend>

				<p class="ctr">Modify <strong>Current</strong> Firm Information</p>

				<div class="well">

					<div class="form-group">
						<label class="control-label col-sm-3" for="firmName">Firm Name</label>
						<div class="col-sm-9">
							<input type="text" class="form-control" id="firmName" ng-model="user.firm.name" placeholder="Firm Name" required>
						</div>
					</div>

					<div class="form-group">
						<label class="control-label col-sm-3" for="firmWeb">Firm Website</label>
						<div class="col-sm-9">
							<input type="text" class="form-control" id="firmWeb" ng-model="user.firm.website" placeholder="Firm Website" required>
							<span class="help-inline">http://www.UpstreamAcademy.com/</span>
						</div>
					</div>

					<div class="form-group">
						<label class="control-label col-sm-3" for="firmName">Firm Address</label>
						<div class="col-sm-9">
							<div ng-switch="user.firm.addr.addressID">

								<div ng-switch-when="undefined" class="input-group">
									<input class="form-control" type="text" value="Click 'set' to assign" disabled />
									<div class="input-group-btn">
										<button type="button" class="btn btn-info" ng-click="setAddr('firm')">Set</button>
									</div>
								</div>

								<div ng-switch-default class="input-group">
									<input class="form-control" type="text" value="{{user.firm.addr.addrName}}" disabled />
									<div class="input-group-btn">
										<button type="button" class="btn btn-warning" ng-click="setAddr('firm')">Edit</button>
									</div>
								</div>

							</div>
						</div>
					</div>

				</div>

				<p class="ctr"><strong>Find</strong> or <strong>Create</strong> your new firm</p>

				<div class="well">
					<div class="well-overlay" ng-hide="enableFirm">
						<button type="button" class="btn btn-warning well-clear-btn btn-lg" ng-click="modifyFirm()">Change Firm</button>
					</div>
					<div class="form-group">

						<div class="col-sm-4">
							<label class="control-label" for="firmFind">Type your Firm Name</label>
							<button type="button" class="btn btn-info" ng-click="newFirm()" style="margin-top:0.5em">Create Firm</button>
						</div>
						<div class="col-sm-8">
							<input type="text" class="form-control" id="firmFind" ng-model="firmNew" typeahead="firm as firm.name for firm in firms | filter:{name:$viewValue} | limitTo:8" placeholder="Firm Search" typeahead-template-url="registerFirmTypeAheadTPL.html" typeahead-on-select="selectFirm()">
						</div>
					</div>
				</div>
			</fieldset>

			<fieldset>
				<legend>Add a Firm Membership</legend>

				<div class="input-group">
					<input type="text" name="firmCode" class="form-control" ng-model="firmCode" placeholder="Firm Access Code">
					<span class="input-group-btn">
						<button type="submit" class="btn btn-success" ng-click="addFirmCode()" ng-disabled="(firmCode.length || 0) < 3">Add</button>
					</span>
				</div>

				<table class="table table-striped" style="margin:0" ng-show="groups.length > 0">
					<thead><tr><th>Current Memberships</th></tr></thead>
					<tbody>
						<tr ng-repeat="group in groups">
							<td>{{group.name}}</td>
						</tr>
					</tbody>
				</table>

				<notify message="message"></notify>
			</fieldset>
		</div>

		<fieldset class="col-md-6">
			<legend>User Information</legend>

			<div class="form-group">
				<label class="control-label col-sm-3" for="legalName">Legal Name</label>
				<div class="col-sm-9">
					<input type="text" class="form-control" id="legalName" ng-model="user.legalName" placeholder="Legal Name" required>
				</div>
			</div>

			<div class="form-group">
				<label class="control-label col-sm-3" for="preName">Preferred Name</label>
				<div class="col-sm-9">
					<input type="text" class="form-control" id="preName" ng-model="user.preName" placeholder="Preferred Name">
					<span class="help-inline">(i.e., Bill instead of William, etc.)</span>
				</div>
			</div>

			<div class="form-group">
				<label class="control-label col-sm-3" for="title">Title / Position</label>
				<div class="col-sm-9">
					<input type="text" class="form-control" id="title" ng-model="user.title" placeholder="Title / Position" required>
				</div>
			</div>

			<div class="form-group">
				<label class="control-label col-sm-3" for="phone">Phone</label>
				<div class="col-sm-9">
					<input type="text" class="form-control" id="phone" ng-model="user.phone" placeholder="Phone" name="phone" ua-phone required>
					<span class="help-inline">(xxx) xxx-xxxx</span>
				</div>
			</div>

			<div class="form-group">
				<label class="control-label col-sm-3" for="email">Email Address</label>
				<div class="col-sm-9">
					<input type="email" class="form-control" id="email" ng-model="user.email" placeholder="Email Address" required>
				</div>
			</div>

			<div class="form-group">
				<label class="control-label col-sm-3">Address</label>
				<div class="col-sm-9">
					<div ng-switch="user.addr.addressID">

						<div ng-switch-when="undefined" class="input-group">
							<input class="form-control" type="text" value="Click 'set' to assign" disabled />
							<div class="input-group-btn">
								<button type="button" class="btn btn-info" ng-click="setAddr('addr')" ng-disabled="same">Set</button>
							</div>
						</div>

						<div ng-switch-default class="input-group">
							<input class="form-control" type="text" value="{{user.addr.addrName}}" disabled />
							<div class="input-group-btn">
								<button type="button" class="btn btn-warning" ng-click="setAddr('addr')"  ng-disabled="same">Edit</button>
							</div>
						</div>

					</div>
					<label class="checkbox"><input type="checkbox" ng-model="same" >Same as Firm</label>
				</div>
			</div>

			<div class="well">

				<div class="form-group">
					<label class="control-label col-sm-3" for="inputPassword">Current Password</label>
					<div class="col-sm-9">
						<input type="password" class="form-control" id="inputPassword" ng-model="user.oldPass" placeholder="Current Password" ua-blank>
					</div>
				</div>

				<div ng-show="settings.inputPassword.$error.passValid">
					<p>Unfulfilled Password Requirements:</p>
					<ul>
						<li ng-show="settings.inputPassword.$error.metLength">At least 6 characters long</li>
						<li ng-show="settings.inputPassword.$error.isSpecial">At least 1 number <strong>OR</strong> 1 special character</li>
					</ul>
				</div>

				<div class="form-group">
					<label class="control-label col-sm-3" for="inputPassword">New Password</label>
					<div class="col-sm-9">
						<input type="password" class="form-control" id="inputPassword" name="inputPassword" ng-model="user.password" placeholder="New Password" ua-pass-validate>
					</div>
				</div>

				<div class="form-group">
					<label class="control-label col-sm-3" for="inputPassword">Re-type New Password</label>
					<div class="col-sm-9">
						<input type="password" class="form-control" id="inputPassword" ng-model="passVerify" placeholder="New Password">
					</div>
				</div>

			</div>

		</fieldset>
	</div>

	<div class="form-actions navbar navbar-default">
		<button type="submit" class="btn btn-primary" ng-click="store()" ng-disabled="check(origUser, user) || settings.$invalid">Save Account Settings</button>&nbsp;&nbsp;
		<button type="button" class="btn btn-default" ng-click="reset()" ng-disabled="check(origUser, user)">Reset Settings</button>
	</div>	

</form>
