<form name="editForm" class="css-form">
	<div class="row">
		<div class="span6">
			<div class="form-horizontal well">
				<h3>Discount</h3>
				<div class="control-group">
					<label class="control-label" for="name">Name</label>
					<div class="controls">
						<input type="text" id="name" placeholder="Name" ng-model="discount.name" required>
					</div>
				</div>

				<div class="control-group">
					<label class="control-label" for="code">Code</label>
					<div class="controls">
						<input type="text" id="code" name="code" placeholder="Code" ng-model="discount.code" required>
						<span class="help-inline" ng-show="editForm.code.$error.duplicate">Must be unique (check <a href="/admin/discounts/">Here</a> if necessary)</span>
					</div>
				</div>

				<div class="control-group">
					<label class="control-label" for="amount">Amount</label>
					<div class="controls">
						<input type="number" id="amount" placeholder="Amount" ng-model="discount.amount" min="1" required>
						<span class="help-inline">Cash Value</span>
					</div>
				</div>
			</div>
		</div>
		<div class="span6">
			<div class="form-horizontal well">
				<button type="button" class="btn pull-right" ng-click="setGlobal()" ng-class="{'btn-success':!(viewProd.productID||viewItem.itemID)}">Global Discount</button>

				<h3>Applies To...</h3>
				<p>Global discount if both boxes are blank</p>
				<div class="control-group">
					<label class="control-label" for="product">Product</label>
					<div class="controls">
						<select ng-model="viewProd" id="product" name="product" ng-options="x.name for x in products"></select>
						&nbsp;&nbsp;
						<button type="button" class="btn btn-info btn-mini" ng-click="setGlobal()">Clear</button>
					</div>
				</div>

				<div class="control-group">
					<label class="control-label" for="item">Item</label>
					<div class="controls">
						<select ng-model="viewItem" id="item" name="item" ng-disabled="viewProd.productID==null"
							ng-options="x.name for x in (items|filterProductIDNull:viewProd)"></select>
							&nbsp;&nbsp;
						<button type="button" class="btn btn-info btn-mini" ng-click="clearItem()">Clear</button>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="form-actions">
		<button type="submit" class="btn btn-primary" ng-click="save()" ng-disabled="equals(discount, orig) || editForm.$invalid">Save</button>&nbsp;&nbsp;
		<button type="button" class="btn btn-warning" ng-click="reset()" ng-disabled="equals(discount, orig)">Reset</button>
		<a href="/admin/discounts" class="btn pull-right">Cancel</a>
	</div>
	
</form>
