<form name="editForm" class="css-form">
	<div class="row">
		<div class="span6">
			<div class="form-horizontal well">
				<h3>Discount</h3>
				<div class="control-group">
					<label class="control-label" for="name">Name</label>
					<div class="controls">
						<input type="text" id="name" placeholder="Name" ng-model="discount.name" required>
					</div>
				</div>

				<div class="control-group">
					<label class="control-label" for="code">Code</label>
					<div class="controls">
						<input type="text" id="code" name="code" placeholder="Code" ng-model="discount.code" required>
						<span class="help-inline" ng-show="editForm.code.$error.duplicate">Must be unique (check <a href="/admin/discounts/">Here</a> if necessary)</span>
					</div>
				</div>

				<div class="control-group">
					<label class="control-label" for="amount">Amount</label>
					<div class="controls">
						<input type="number" id="amount" placeholder="Amount" ng-model="discount.amount" min="1" required>
						<span class="help-inline">Cash Value</span>
					</div>
				</div>
			</div>
		</div>
		<div class="span6">
			<div class="form-horizontal well">
				<button type="button" class="btn pull-right" ng-click="setGlobal()" ng-class="{'btn-success':!(discount.itemID)}">Global Discount</button>

				<h3>Applies To...</h3>
				<p>Discount is "Global" if <code>Global Discount</code> button is <span class="label label-success">green</span><br/><br/></p>

				<div ng-repeat="item in viewItems" ng-switch="item">
					<div ng-switch-when="null" style="text-align:center">No More Children</div>
					<div ng-switch-default class="control-group">
						<label class="control-label" ng-switch="$first">
							<span ng-switch-when="true">Item</span>
							<span ng-switch-default>Child {{$index}}</span>
						</label>
						<div class="controls">
							<select ng-model="viewItems[$index]" ng-options="value.name for (key, value) in (items|filterItem:item.parentID)">
							</select>&nbsp;&nbsp;
							<button type="button" class="btn btn-danger btn-mini" ng-click="clearItem($index, item.parentID)">Clear</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="form-actions">
		<button type="submit" class="btn btn-primary" ng-click="save()" ng-disabled="equals(discount, orig) || editForm.$invalid">Save</button>&nbsp;&nbsp;
		<button type="button" class="btn btn-warning" ng-click="reset()" ng-disabled="equals(discount, orig)">Reset</button>
		<a href="/admin/discounts" class="btn pull-right">Cancel</a>
	</div>
	
</form>

<!-- START DEV -->
<pre>{{discount | json}}</pre>
<pre>{{viewItems | json}}</pre>
<!-- <pre>{{items | json}}</pre> -->
<!-- END DEV -->