<div class="row">

	<!-- Firms List -->
	<div class="col-md-6">
		<div class="row">
			<h3 class="col-sm-4" style="margin-top:0">Firms</h3>
			<div class="col-sm-8">
				<div class="input-group">
					<label class="input-group-addon" for="firm_search" ng-click="firm_search_data=''">Search</label>
					<input id="firm_search" type="text" class="form-control pull-right input-sm" ng-model="firm_search_data"/>
				</div>
			</div>
		</div>
		<p>Single Click a firm to view purchases</p>
		<div style="max-height:400px;overflow-x:hidden;overflow-y:auto">
			<table class="table table-hover" style="margin-bottom:0">
				<thead>
					<tr>
						<th>Name</th>
						<th>Website</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="value in service.firms | obj2arr | filter:firm_search_data | orderBy:'name'" ng-click="select('firms', value.$key)" ng-class="{info: value == active}">
						<td>{{value.name}}</td>
						<td>{{value.website}}</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>

	<!-- Users List -->
	<div class="col-md-6">
		<div class="row">
			<h3 class="col-sm-4" style="margin-top:0">Users</h3>
			<div class="col-sm-8">
				<div class="input-group">
					<label class="input-group-addon" for="user_search" ng-click="user_search_data=''">Search</label>
					<input id="user_search" type="text" class="form-control pull-right input-sm" ng-model="user_search_data"/>
				</div>
			</div>
		</div>
		<p>Single Click a user to view purchases</p>
		<div style="max-height:400px;overflow-x:hidden;overflow-y:auto">
			<table class="table table-hover" style="margin-bottom:0">
				<thead>
					<tr>
						<th>Name</th>
						<th>Title</th>
						<th>Info</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="value in (service.contacts | obj2arr | filter:user_search_data | orderBy:'legalName')" ng-click="select('contacts', value.$key)" ng-class="{info: value == active}">
						<td>
							{{value.legalName}}
							<span ng-show="value.preName" class="text-muted"><br/>{{value.preName}}</span>
						</td>
						<td>{{value.title}}</td>
						<td>{{value.email}}<br/>{{value.phone}}</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>

<div class="row">
	
	<!-- Purchases List -->
	<div class="col-md-6">
		<h3>Purchases</h3>
		<p>Delete a purchase with the "x" on the right.</p>
		<div style="max-height:600px;overflow-x:hidden;overflow-y:auto" ng-switch="list">
			<p ng-switch-when="false" class="text-muted">No purchases for this item!</p>
			<table class="table table-hover" style="margin-bottom:0" ng-switch-default>
				<thead>
					<tr>
						<th>Name</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="item in list">
						<td>
							<button class="close pull-right" ng-click="rem(item)">&times;</button>
							{{item.item.name}}
							<span class="text-muted" ng-show="item.item.desc"><br/>{{item.item.desc}}</span>
							<!-- <br/><pre>{{item | json}}</pre> -->
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
	
	<!-- Children List -->
	<div class="col-md-6" ng-show="active">
		<h3>Add Item</h3>
		<form name="addItemForm" class="form-horizontal">
			<div class="form-group">
				<label class="control-label col-md-3" for="inputItem">Item</label>
				<div class="col-md-9">
					<select id="inputItem" ng-options="value.name for value in (service.items | obj2arr) | orderBy:'name' " ng-model="addItem" class="form-control" required></select>
				</div>
			</div>
			<div class="form-group">
				<div class="col-md-offset-3 col-md-9">
					<button type="submit" class="btn btn-success" ng-click="add()" ng-disabled="!addItem">Add</button>
				</div>
			</div>
		</form>
	</div>
</div>

