<div class="row">
	<form name="merge" class="col-md-10 col-md-offset-1">
		<h3>Firm Merging</h3>
		<p>Choose two different firms and merge them into one.</p>
		
		<table class="table" style="margin-bottom:0">
			<thead>
				<tr>
					<th>Field</th>
					<th>
						<select class="form-control input-sm" ng-options="value as value.name for (key, value) in firms" ng-model="firm1">
						</select>
					</th>
					<th>
						<select class="form-control input-sm" ng-options="value as value.name for (key, value) in firms" ng-model="firm2">
						</select>
					</th>
					<th>Merged</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>Name&nbsp;*:</td>
					<td>
						<div class="input-group">
							<input class="form-control input-sm" type="text" value="{{firm1.name}}" disabled />
							<span class="input-group-btn">
								<button class="btn input-sm" type="button" ng-click="merge.name=firm1.name" ng-disabled="merge.name==firm1.name">+</button>
							</span>
						</div>
					</td>
					<td>
						<div class="input-group">
							<input class="form-control input-sm" type="text" value="{{firm2.name}}" disabled />
							<span class="input-group-btn">
								<button class="btn input-sm" type="button" ng-click="merge.name=firm2.name" ng-disabled="merge.name==firm2.name">+</button>
							</span>
						</div>
					</td>
					<td>
						<input class="form-control input-sm" type="text" ng-model="merge.name" style="width:300px" required>
					</td>
				</tr>
				<tr>
					<td>Website&nbsp;*:</td>
					<td>
						<div class="input-group">
							<input class="form-control input-sm" type="text" value="{{firm1.website}}" disabled />
							<span class="input-group-btn">
								<button class="btn input-sm" type="button" ng-click="merge.website = firm1.website" ng-disabled="merge.website == firm1.website">+</button>
							</span>
						</div>
					</td>
					<td>
						<div class="input-group">
							<input class="form-control input-sm" type="text" value="{{firm2.website}}" disabled />
							<span class="input-group-btn">
								<button class="btn input-sm" type="button" ng-click="merge.website = firm2.website" ng-disabled="merge.website == firm2.website">+</button>
							</span>
						</div>
					</td>
					<td>
						<input class="form-control input-sm" type="text" ng-model="merge.website" required>
					</td>
				</tr>
				<tr>
					<td>Address&nbsp;Name&nbsp;*:</td>
					<td>
						<div class="input-group">
							<input class="form-control input-sm" type="text" value="{{firm1.addrName}}" disabled />
							<span class="input-group-btn">
								<button class="btn input-sm" type="button" ng-click="merge.addrName = firm1.addrName" ng-disabled="merge.addrName == firm1.addrName">+</button>
							</span>
						</div>
					</td>
					<td>
						<div class="input-group">
							<input class="form-control input-sm" type="text" value="{{firm2.addrName}}" disabled />
							<span class="input-group-btn">
								<button class="btn input-sm" type="button" ng-click="merge.addrName = firm2.addrName" ng-disabled="merge.addrName == firm2.addrName">+</button>
							</span>
						</div>
					</td>
					<td>
						<input class="form-control input-sm" type="text" ng-model="merge.addrName" required>
					</td>
				</tr>
				<tr>
					<td>Address&nbsp;1&nbsp;*:</td>
					<td>
						<div class="input-group">
							<input class="form-control input-sm" type="text" value="{{firm1.addr1}}" disabled />
							<span class="input-group-btn">
								<button class="btn input-sm" type="button" ng-click="merge.addr1 = firm1.addr1" ng-disabled="merge.addr1 == firm1.addr1">+</button>
							</span>
						</div>
					</td>
					<td>
						<div class="input-group">
							<input class="form-control input-sm" type="text" value="{{firm2.addr1}}" disabled />
							<span class="input-group-btn">
								<button class="btn input-sm" type="button" ng-click="merge.addr1 = firm2.addr1" ng-disabled="merge.addr1 == firm2.addr1">+</button>
							</span>
						</div>
					</td>
					<td>
						<input class="form-control input-sm" type="text" ng-model="merge.addr1" required>
					</td>
				</tr>
				<tr>
					<td>Address&nbsp;2:</td>
					<td>
						<div class="input-group">
							<input class="form-control input-sm" type="text" value="{{firm1.addr2}}" disabled />
							<span class="input-group-btn">
								<button class="btn input-sm" type="button" ng-click="merge.addr2 = firm1.addr2" ng-disabled="merge.addr2 == firm1.addr2">+</button>
							</span>
						</div>
					</td>
					<td>
						<div class="input-group">
							<input class="form-control input-sm" type="text" value="{{firm2.addr2}}" disabled />
							<span class="input-group-btn">
								<button class="btn input-sm" type="button" ng-click="merge.addr2 = firm2.addr2" ng-disabled="merge.addr2 == firm2.addr2">+</button>
							</span>
						</div>
					</td>
					<td>
						<input class="form-control input-sm" type="text" ng-model="merge.addr2">
					</td>
				</tr>
				<tr>
					<td>City&nbsp;*:</td>
					<td>
						<div class="input-group">
							<input class="form-control input-sm" type="text" value="{{firm1.city}}" disabled />
							<span class="input-group-btn">
								<button class="btn input-sm" type="button" ng-click="merge.city = firm1.city" ng-disabled="merge.city == firm1.city">+</button>
							</span>
						</div>
					</td>
					<td>
						<div class="input-group">
							<input class="form-control input-sm" type="text" value="{{firm2.city}}" disabled />
							<span class="input-group-btn">
								<button class="btn input-sm" type="button" ng-click="merge.city = firm2.city" ng-disabled="merge.city == firm2.city">+</button>
							</span>
						</div>
					</td>
					<td>
						<input class="form-control input-sm" type="text" ng-model="merge.city" required>
					</td>
				</tr>
				<tr>
					<td>State&nbsp;*:</td>
					<td>
						<div class="input-group">
							<input class="form-control input-sm" type="text" value="{{firm1.state}}" disabled />
							<span class="input-group-btn">
								<button class="btn input-sm" type="button" ng-click="merge.state = firm1.state" ng-disabled="merge.state == firm1.state">+</button>
							</span>
						</div>
					</td>
					<td>
						<div class="input-group">
							<input class="form-control input-sm" type="text" value="{{firm2.state}}" disabled />
							<span class="input-group-btn">
								<button class="btn input-sm" type="button" ng-click="merge.state = firm2.state" ng-disabled="merge.state == firm2.state">+</button>
							</span>
						</div>
					</td>
					<td>
						<input class="form-control input-sm" type="text" ng-model="merge.state" required>
					</td>
				</tr>
				<tr>
					<td>Zip&nbsp;*:</td>
					<td>
						<div class="input-group">
							<input class="form-control input-sm" type="text" value="{{firm1.zip}}" disabled />
							<span class="input-group-btn">
								<button class="btn input-sm" type="button" ng-click="merge.zip = firm1.zip" ng-disabled="merge.zip == firm1.zip">+</button>
							</span>
						</div>
					</td>
					<td>
						<div class="input-group">
							<input class="form-control input-sm" type="text" value="{{firm2.zip}}" disabled />
							<span class="input-group-btn">
								<button class="btn input-sm" type="button" ng-click="merge.zip = firm2.zip" ng-disabled="merge.zip == firm2.zip">+</button>
							</span>
						</div>
					</td>
					<td>
						<input class="form-control input-sm" type="text" ng-model="merge.zip" required>
					</td>
				</tr>
			</tbody>
		</table>
		<div class="form-actions">
			<button type="submit" class="btn btn-primary" ng-click="save()" ng-disabled="merge.$invalid">Save changes</button>&nbsp;
			<button type="button" class="btn btn-default" ng-click="reset()">Cancel</button>
		</div>
	</form> <!-- span + offset -->
</div><!-- row -->

<!-- START DEV -->
<pre>{{merge | json}}</pre>
<!-- <pre>{{firm2 | json}}</pre> -->
<!-- <pre>{{active | json}}</pre> -->
<!-- <pre>{{items | json}}</pre> -->
<!-- END DEV -->