<div class="row">
	<div class="offset2 span8">
		<div class="well">
			<h1>Welcome!</h1>
			<p>Please feel free to navigate around and see if anything is of interest to you</p>
			<p><a href="#/products" class="btn btn-primary btn-large" role="button">Start Shopping</a></p>
		</div>
	</div>
</div>

<table class="table table-striped table-hover">
	<thead>
		<tr>
			<th>Name</th>
			<th>Description</th>
			<th>Cost</th>
		</tr>
	</thead>
	<tbody>
		<tr ng-repeat="item in theCart.get()" ng-class="{true:'error', false:''}[item.warn]"> <!-- printList -->
			<td><a href="#/products/{{item.productID}}/{{item.itemID}}">{{item.name}}</a></td>
			<td>{{item.description}}</td>
			<td ng-switch="showOptions(item)">
				<span ng-switch-when="false">{{item.cost.pretty}}</span>
				<span ng-switch-default>{{item.cost.pretty}}</span>
				<a href ng-click="printCart.rem($index)" role="button" class="close">&times;</a>
			</td>
		</tr>
	</tbody>
	<tfoot>
		<tr>
			<th></th>
			<th><span class="pull-right">Sub-Total:</span></th>
			<th><span>{{printCart.subTotal() | currency}}</span></th>
		</tr>
	</tfoot>
</table>

<pre>{{theCart.get() | json}}</pre>