<form class="form-horizontal row" name="registration">
	<fieldset class="span6">
		<legend>Firm Information</legend>

		<div class="control-group">
			<label class="control-label" for="firmName">Firm Name</label>
			<div class="controls">
				<input type="text" id="firmName" ng-model="user.firm.name" placeholder="Firm Name">
				<!-- <span class="help-inline">(xxx-xxx-xxxx)</span> -->
			</div>
		</div>

		<div class="control-group">
			<label class="control-label" for="firmWeb">Firm Website</label>
			<div class="controls">
				<input type="url" id="firmWeb" ng-model="user.firm.website" placeholder="Firm Website">
				<!-- <span class="help-inline">(xxx-xxx-xxxx)</span> -->
			</div>
		</div>

		<div class="control-group">
			<label class="control-label" for="firmName">Firm Address</label>
			<div class="controls">
				<div class="input-append" ng-switch="user.firm">
					<span class="input-medium uneditable-input">Click 'set' to assign</span>
					<button class="btn btn-info" ng-switch-when="null" ng-click="setAddr('firm')">Set</button>
					<button class="btn btn-warning" ng-switch-default>Edit</button>
				</div>
			</div>
		</div>

	</fieldset>

	<fieldset class="span6">
		<legend>User Information</legend>

		<div class="control-group">
			<label class="control-label" for="legalName">Legal Name</label>
			<div class="controls">
				<input type="text" id="legalName" ng-model="user.legalName" placeholder="Legal Name">
			</div>
		</div>

		<div class="control-group">
			<label class="control-label" for="preName">Preferred Name</label>
			<div class="controls">
				<input type="text" id="preName" ng-model="user.preName" placeholder="Preferred Name">
				<span class="help-inline">(i.e., Bill instead of William, etc.)</span>
			</div>
		</div>

		<div class="control-group">
			<label class="control-label" for="title">Title / Position</label>
			<div class="controls">
				<input type="text" id="title" ng-model="user.title" placeholder="Title / Position">
				<!-- <span class="help-inline">(i.e., Bill instead of William, etc.)</span> -->
			</div>
		</div>

		<div class="control-group">
			<label class="control-label" for="phone">Phone</label>
			<div class="controls">
				<input type="text" id="phone" ng-model="user.phone" placeholder="Phone">
				<span class="help-inline">(xxx-xxx-xxxx)</span>
			</div>
		</div>

		<div class="control-group">
			<label class="control-label" for="email">Email Address</label>
			<div class="controls">
				<input type="email" id="email" ng-model="user.email" placeholder="Email Address">
			</div>
		</div>

		<div class="control-group">
			<label class="control-label">Address</label>
			<div class="controls">
				<div class="input-append" ng-switch="user.addr">
					<span class="input-medium uneditable-input" title="Click 'set' to assign an address">Click 'set' to assign</span>
					<button class="btn btn-info" ng-switch-when="null" ng-click="setAddr('addr')">Set</button>
					<button class="btn btn-warning" ng-switch-default>Edit</button>
				</div>
				<label class="checkbox"><input type="checkbox">Same as Firm</label>
			</div>
		</div>

		<div class="control-group">
			<label class="control-label" for="inputPassword">Password</label>
			<div class="controls">
				<input type="password" id="inputPassword" ng-model="user.pass" placeholder="Password">
			</div>
		</div>

		<div class="control-group">
			<label class="control-label" for="inputPassword">Re-type Password</label>
			<div class="controls">
				<input type="password" id="inputPassword" ng-model="passVerify" placeholder="Password">
			</div>
		</div>

	</fieldset>

</form>

<pre class="">{{user | json}}</pre>