<div class="row">
	<div class="offset3 span6" ng-switch="check">

		<form class="form-horizontal css-form" name="passChange" ng-switch-when="1">
			<p>
				Below is your password reset form.&nbsp;
				Be sure to create a strong enough password to thwart attacks
			</p>
			
			<notify message="message"></notify>

			<div ng-show="passChange.inputPassword.$error.passValid">
				<p>Unfulfilled Password Requirements:</p>
				<ul>
					<li ng-show="passChange.inputPassword.$error.hasNumber">At least 1 number</li>
					<li ng-show="passChange.inputPassword.$error.specialCh">At least 1 special character</li>
					<li ng-show="passChange.inputPassword.$error.lowerAlph">At least 1 alphabetical character</li>
					<li ng-show="passChange.inputPassword.$error.upperAlph">At least 1 uppercase alphabetical character</li>
					<li ng-show="passChange.inputPassword.$error.metLength">At least 6 characters long</li>
				</ul>
			</div>

			<div class="control-group">
				<label class="control-label" for="inputPassword">New Password</label>
				<div class="controls">
					<input type="password" id="inputPassword" name="inputPassword" ng-model="user.password" placeholder="Password" ua-pass-validate required class="input-block-level">
				</div>
			</div>

			<div class="control-group">
				<label class="control-label" for="inputPassword">Re-type Password</label>
				<div class="controls">
					<input type="password" id="inputPassword" ng-model="user.passVerify" placeholder="Password" required class="input-block-level">
				</div>
			</div>

			<div class="form-actions">
				<button type="submit" class="btn btn-primary" ng-click="changePass()" ng-disabled="passChange.$invalid || processing">Change Password</button>&nbsp;
				<a href="/" class="btn">Cancel</a>
			</div>	

		</form>

		<div ng-switch-default class="alert alert-block alert-error">
			<h4>Error!</h4>
			It appears this link is either broken or has expired.<br/>
			Please attempt a password reset again!
		</div>
	</div>
</div>