<div class="row">
	<div class="offset0 span12" ng-switch="myCart.len()">

		<div style="text-align:center" ng-switch-when="">
			<a href="#/products" class="btn btn-primary btn-lg" role="button">Cart is Empty - Go Shop!</a>
		</div>


		<div ng-switch-default>
			<table class="table table-striped table-hover">
				<thead>
					<tr>
						<th>Name</th>
						<th>Description</th>
						<th>Options</th>
						<th>Cost</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="item in theCart.get()" ng-class="{true:'error', false:''}[item.warn]"> <!-- printList -->
						<td><a href="#/products/{{item.productID}}/{{item.itemID}}">{{item.name}}</a></td>
						<td>{{item.description}}</td>
						<td ng-switch="options.hasOwnProperty(item.itemID)">
							<button 
								ng-switch-when="false" 
								ng-show="showOptions(item)" 
								ng-click="callOptions(item.template, item)" 
								class="btn btn-warning btn-mini">
									Set
							</button>
							<button 
								ng-switch-default 
								ng-show="showOptions(item)" 
								ng-click="callOptions(item.template, item)" 
								class="btn btn-info btn-mini">
									Edit
							</button>
						</td>
						<td ng-switch="showOptions(item)">
							<span ng-switch-when="false">{{item.cost.pretty}}</span>
							<span ng-switch-default>{{item.cost.calc | currency}}</span>
							<a href ng-click="printCart.rem($index)" role="button" class="close">&times;</a>
						</td>
					</tr>
				</tbody>
				<tfoot>
					<tr>
						<th></th>
						<th></th>
						<th>Sub-Total:</th>
						<th><span>{{printCart.subTotal() | currency}}</span></th>
					</tr>
				</tfoot>
			</table>

			<div class="row-fluid"> <!-- discount + chekcout area -->

				<div class="span6 well">
					<h4 style="margin-top:0">Checkout</h4>

					<table class="table">
						<tbody>
							<tr>
								<td><strong class="pull-right">Sub-Total:</strong></td>
								<td>{{printCart.subTotal() | currency}}</td>
							</tr>
							<tr>
								<td><strong class="pull-right">Discounts:</strong></td>
								<td>{{printCart.disTotal() | currency}}</td>
							</tr>
							<tr>
								<td><strong class="pull-right">Cart Total:</strong></td>
								<td>{{printCart.total() | currency}}</td>
							</tr>
						</tbody>
					</table>

					<div class="fluid-row">
						<button ng-click="saveCart('online')" class="btn btn-primary btn-lg span6" role="button">
							via PayPal 
							<span class="badge">{{printCart.total() | currency}}</span>
						</button>
						<button ng-click="saveCart('check')" class="btn btn-lg span6" role="button">
							via Check 
							<span class="badge">{{printCart.total() | currency}}</span>
						</button>
					</div>
				</div>

				<div class="span6 well">
					<h4 style="margin-top:0">Discounts</h4>

					<form class="form-search" style="margin:0">
						<div class="input-append input-block-level" style="padding-right:50px;">
							<input type="text" id="code" class="search-query input-block-level" ng-model="discountCode" placeholder="Discount Code">
							<button type="submit" class="btn btn-success" ng-click="printCart.addDiscount(discountCode);discountCode=''">Add</button>
						</div>
					</form>

					<div class="alert alert-{{printCart.getDiscountMsg().type}}" ng-show="printCart.getDiscountMsg()" style="margin-top:20px;">
						<strong>{{printCart.getDiscountMsg().pre}}</strong> {{printCart.getDiscountMsg().msg}}
					</div>

					<table class="table table-striped table-hover" style="margin:0" ng-show="printCart.getDiscounts().length > 0">
						<thead>
							<tr>
								<th>Descripiton</th>
								<th>Amount</th>
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="discount in printCart.getDiscounts()">
								<td>{{discount.name}}</td>
								<td>
									{{discount.amount | currency}}
									<a href ng-click="printCart.remDiscount($index)" role="button" class="close">&times;</a>
								</td>
							</tr>
						</tbody>
						<tfoot>
							<tr>
								<th><span class="pull-right">Discount Total:</span></th>
								<th>{{printCart.disTotal() | currency}}</th>
							</tr>
						</tfoot>
					</table>
				</div>
			</div>

			<!-- <div class="form-actions" style="text-align:center">
				
			</div> -->

			<!-- <pre>{{printList | json}}</pre> -->

		</div>
	</div>
</div>