<div class="row">
	<div class="offset0 span12" ng-switch="myCart.len()">

		<div style="text-align:center" ng-switch-when="">
			<a href="#/products" class="btn btn-primary btn-lg" role="button">Cart is Empty - Go Shop!</a>
		</div>


		<div class="col-md-offset-1 col-md-10" ng-switch-default>

			<table class="table table-striped table-hover">
				<thead>
					<tr>
						<th>Name</th>
						<th>Description</th>
						<th>Options</th>
						<th>Cost</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="item in printList">
						<td><a href="#/products/{{item.productID}}/{{item.itemID}}">{{item.name}}</a></td>
						<td>{{item.description}}</td>
						<td ng-switch="options.hasOwnProperty(item.itemID)">
							<button 
								ng-switch-when="false" 
								ng-show="showOptions(item)" 
								ng-click="callOptions(item.template, item)" 
								class="btn btn-warning btn-mini">
									Set
							</button>
							<button 
								ng-switch-default 
								ng-show="showOptions(item)" 
								ng-click="callOptions(item.template, item)" 
								class="btn btn-info btn-mini">
									Edit
							</button>
						</td>
						<td ng-switch="showOptions(item)">
							<span ng-switch-when="false">{{item.cost.pretty}}</span>
							<span ng-switch-default>{{item.cost.calc | currency}}</span>
							<a href ng-click="myCart.rem($index)" role="button" class="close">&times;</a>
						</td>
					</tr>
				</tbody>
				<tfoot>
					<tr>
						<th></th>
						<th></th>
						<th>Total:</th>
						<th><span>{{total | currency}}</span></th>
					</tr>
				</tfoot>
			</table>

			<div class="form-actions" style="text-align:center">
				<a ng-click="saveCart('online')" class="btn btn-primary btn-lg" role="button">
					Checkout via PayPal 
					<span class="badge">{{total | currency}}</span>
				</a>
				<a ng-click="saveCart('check')" class="btn btn-lg" role="button">
					Checkout via Check 
					<span class="badge">{{total | currency}}</span>
				</a>
			</div>

			<!-- <pre>{{options | json}}</pre> -->

		</div>
	</div>
</div>