<script type="text/ng-template" id="registerFirmTypeAheadTPL.html">
	<a>
		<span bind-html-unsafe="match.label | typeaheadHighlight:query"></span> 
		(<span>{{ match.model.website | replace:{'http://':'','https://':''} }}</span>)
	</a>
</script>

<form class="form-horizontal css-form" name="settings">
	<div class="row">
		<fieldset class="span6">
			<legend>Firm Information</legend>

			<p class="ctr">Modify <strong>Current</strong> Firm Information</p>

			<div class="well" style="padding: 20px 0 1px;">

				<div class="control-group">
					<label class="control-label" for="firmName">Firm Name</label>
					<div class="controls">
						<input type="text" id="firmName" ng-model="user.firm.name" placeholder="Firm Name" required>
					</div>
				</div>

				<div class="control-group">
					<label class="control-label" for="firmWeb">Firm Website</label>
					<div class="controls">
						<input type="url" id="firmWeb" ng-model="user.firm.website" placeholder="Firm Website" required>
						<span class="help-inline">http://www.UpstreamAcademy.com/</span>
					</div>
				</div>

				<div class="control-group">
					<label class="control-label" for="firmName">Firm Address</label>
					<div class="controls">
						<div class="input-append" ng-switch="user.firm.addr.addressID">

							<div ng-switch-when="undefined">
								<span class="input-medium uneditable-input">Click 'set' to assign</span>
								<button type="button" class="btn btn-info" ng-click="setAddr('firm')">Set</button>
							</div>

							<div ng-switch-default>
								<span class="input-medium uneditable-input">{{user.firm.addr.addrName}}</span>
								<button type="button" class="btn btn-warning" ng-click="setAddr('firm')">Edit</button>
							</div>

						</div>
					</div>
				</div>

			</div>

			<p class="ctr"><strong>Find</strong> or <strong>Create</strong> your new firm</p>

			<div class="control-group well">

				<div class="well-overlay" ng-hide="enableFirm">
					<button type="button" class="btn btn-warning well-clear-btn btn-large" ng-click="modifyFirm()">Change Firm</button>
				</div>

				<label class="control-label" for="firmFind">Type your Firm Name</label>
				<div class="controls">
					<input type="text" id="firmFind" ng-model="firmNew" typeahead="firm as firm.name for firm in firms | filter:{name:$viewValue} | limitTo:8" placeholder="Firm Search" typeahead-template-url="registerFirmTypeAheadTPL.html" typeahead-on-select="selectFirm()">
					&nbsp;&nbsp;
					<button type="button" class="btn btn-info" ng-click="newFirm()">Create Firm</button>
				</div>
			</div>

			<!-- <pre>Model: {{user.firm | json}}</pre> -->
		</fieldset>

		<fieldset class="span6">
			<legend>User Information</legend>

			<div class="control-group">
				<label class="control-label" for="legalName">Legal Name</label>
				<div class="controls">
					<input type="text" id="legalName" ng-model="user.legalName" placeholder="Legal Name" required>
				</div>
			</div>

			<div class="control-group">
				<label class="control-label" for="preName">Preferred Name</label>
				<div class="controls">
					<input type="text" id="preName" ng-model="user.preName" placeholder="Preferred Name">
					<span class="help-inline">(i.e., Bill instead of William, etc.)</span>
				</div>
			</div>

			<div class="control-group">
				<label class="control-label" for="title">Title / Position</label>
				<div class="controls">
					<input type="text" id="title" ng-model="user.title" placeholder="Title / Position" required>
					<!-- <span class="help-inline">(i.e., Bill instead of William, etc.)</span> -->
				</div>
			</div>

			<div class="control-group">
				<label class="control-label" for="phone">Phone</label>
				<div class="controls">
					<input type="text" id="phone" ng-model="user.phone" placeholder="Phone" name="phone" ua-phone required>
					<span class="help-inline">(xxx) xxx-xxxx</span>
				</div>
			</div>

			<div class="control-group">
				<label class="control-label" for="email">Email Address</label>
				<div class="controls">
					<input type="email" id="email" ng-model="user.email" placeholder="Email Address" required>
				</div>
			</div>

			<div class="control-group">
				<label class="control-label">Address</label>
				<div class="controls">
					<div class="input-append" ng-switch="user.addr.addressID">

						<div ng-switch-when="undefined">
							<span class="input-medium uneditable-input">Click 'set' to assign</span>
							<button type="button" class="btn btn-info" ng-click="setAddr('addr')" ng-disabled="same">Set</button>
						</div>

						<div ng-switch-default>
							<span class="input-medium uneditable-input">{{user.addr.addrName}}</span>
							<button type="button" class="btn btn-warning" ng-click="setAddr('addr')"  ng-disabled="same">Edit</button>
						</div>

					</div>
					<label class="checkbox"><input type="checkbox" ng-model="same" >Same as Firm</label>
				</div>
			</div>

			<div class="well">

				<div class="control-group">
					<label class="control-label" for="inputPassword">Current Password</label>
					<div class="controls">
						<input type="password" id="inputPassword" ng-model="user.oldPass" placeholder="Current Password" ua-blank>
					</div>
				</div>

				<div ng-show="settings.inputPassword.$error.passValid">
					<p>Unfulfilled Password Requirements:</p>
					<ul>
						<li ng-show="settings.inputPassword.$error.hasNumber">At least 1 number</li>
						<li ng-show="settings.inputPassword.$error.specialCh">At least 1 special character</li>
						<li ng-show="settings.inputPassword.$error.lowerAlph">At least 1 alphabetical character</li>
						<li ng-show="settings.inputPassword.$error.upperAlph">At least 1 uppercase alphabetical character</li>
						<li ng-show="settings.inputPassword.$error.metLength">At least 6 characters long</li>
					</ul>
				</div>

				<div class="control-group">
					<label class="control-label" for="inputPassword">New Password</label>
					<div class="controls">
						<input type="password" id="inputPassword" name="inputPassword" ng-model="user.password" placeholder="New Password" ua-pass-validate>
					</div>
				</div>

				<div class="control-group">
					<label class="control-label" for="inputPassword">Re-type New Password</label>
					<div class="controls">
						<input type="password" id="inputPassword" ng-model="passVerify" placeholder="New Password">
					</div>
				</div>

			</div>

		</fieldset>
	</div>

	<div class="form-actions">
		<button type="submit" class="btn btn-primary" ng-click="store( settings.$invalid )" ng-disabled="check(origUser, user) || settings.$invalid">Save Account Settings</button>&nbsp;&nbsp;
		<button type="button" class="btn" ng-click="reset()" ng-disabled="check(origUser, user)">Reset Settings</button>
	</div>	

</form>

<pre>{{user | json}}</pre>