<div class="row">
	<div class="span8 offset2">
		<h3>Files on server</h3>
		<button type="button" class="btn btn-info pull-right btn-mini" ng-click="back()" ng-show="parent.length">Parent Folder</button>
		<p>To add use the upload form, or delete a file with the "x" on the right.</p>
		<p>Path: <code>/{{ path }}</code></p>
		<div style="max-height:600px;overflow-x:hidden;overflow-y:auto">
			<table class="table table-hover">
				<thead>
					<tr>
						<th>Name</th>
						<th>Path</th>
						<th>Size</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="file in list | orderBy:['-children','name']" ng-click="drill(file)">
						<td>
							<i class="icon-folder-close" ng-show="file.children !== false"></i>&nbsp;
							{{file.name}}
						</td>
						<td>
							<code ng-hide="file.children">{{path}}{{file.name}}</code>
						</td>
						<td>
							<span ng-show="file.size !== false">{{file.size}}</span>
							<div class="pull-right">
								<!-- <button class="btn-mini"></button> -->
								<i class="icon-edit" ng-click="edit($event, file)"></i>&nbsp;
								<button class="close" ng-click="rem($event, file)" ng-hide="file.children.length">&times;</button>
								<i class="icon-" ng-show="file.children.length"></i>
							</div>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>

<!-- START DEV -->
<pre>{{list | json}}</pre>
<!-- <pre>{{firms | json}}</pre> -->
<!-- END DEV -->