<div class="row">
	<!-- Children List -->
	<div class="col-md-4">
		<h3>
			<span ng-show="myItem">{{myItem.name}}&nbsp;</span>
			Items
			<small ng-show="myItem">&nbsp;{{myItem.desc}}</small>
		</h3>
		<div>
			<button type="button" class="btn btn-success pull-right btn-xs" ng-click="newItem()">New Item</button>
			<span class="pull-right" ng-show="myItem">
				<button type="button" class="btn btn-info btn-xs" ng-click="go(myItem.parentID)">Parent</button>&nbsp;
			</span>
		</div>
		<ul>
			<li>Single Click an item to modify</li>
			<li>Double Click to view children</li>
			<li>Delete an item with the "x" on the right.</li>
		</ul>
		<div style="max-height:600px;overflow-x:hidden;overflow-y:auto">
			<table class="table table-hover" style="margin-bottom:0">
				<thead><tr><th>Name</th></tr></thead>
				<tbody>
					<tr ng-repeat="item in items | orderBy:[files_first, 'name']" ng-click="edit(item)" ng-dblclick="go(item.itemID)" ng-class="{info: item.isActive}">
						<td>
							<i class="glyphicon glyphicon-folder-close" ng-show="item.count !== '0'"></i>&nbsp;
							{{item.name}}
							<button class="close pull-right" ng-click="rem($event, item)">&times;</button>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>

	<!-- itemForm -->
	<form name="itemForm" class="col-md-4 form-horizontal" ng-show="active">
		<h3>
			<button type="button" class="btn btn-danger pull-right btn-xs" ng-click="move()">Move</button>
			Details
		</h3>
		<div class="form-group">
			<label class="control-label" for="name">Name *</label>
			<input class="form-control" type="text" id="name" placeholder="Name" ng-model="active.name" required>
		</div>
		<div class="form-group">
			<label class="control-label" for="desc">Description *</label>
			<input class="form-control" type="text" id="desc" name="desc" placeholder="Description" ng-model="active.desc" required>
		</div>
		<div class="form-group">
			<label class="control-label">Applies To *</label>
			<label class="radio-inline">
				<input type="radio" name="optionsRadios" ng-model="active.onFirm" value="true"> Firm
			</label>
			<label class="radio-inline">
				<input type="radio" name="optionsRadios" ng-model="active.onFirm" value="false"> User
			</label>
			<span class="help-block">Purchase is applied to this entity.</span>
		</div>

		<!-- template -->
		<div class="form-group well">
			<div>
				<label class="control-label" for="tpl">Template *</label>
				<select ng-model="myTemplate" ng-options="value.name for (key, value) in tpls" class="form-control"></select>
			</div>
			<div ng-hide="active.count=='0'" class="text-danger">This item appears to be a directory.<br/>Any aditional Item questions are not required.</div>
			<div ng-repeat="question in myTemplate.itemReq" ng-switch="question">
				<label for="tpl-{{question}}" style="text-transform: capitalize" class="control-label">{{question}}</label>
				<div ng-switch-when="date">
					<input type="text" id="tpl-{{question}}" ng-model="active.settings[question]" class="form-control">
					<span class="help-block text-muted">Format: MMM dd, yyyy (ie: Aug 19, 1991)</span>
				</div>
				<div ng-switch-when="file">
					<input type="text" id="tpl-{{question}}" ng-model="active.settings[question]" class="form-control">
					<span class="help-block text-muted">Relative to files directory<br/>(ie: "hw/con1.zip" for "/files/hw/conf.zip")</span>
				</div>
				<input ng-switch-default type="text" id="tpl-{{question}}" ng-model="active.settings[question]" class="form-control">
			</div>
		</div>
		<!-- end template -->

		<div class="form-group">
			<label class="control-label" for="code">Direct Code</label>
			<input type="text" id="code" name="code" placeholder="Direct Code" ng-model="active.code" class="form-control">
			<span class="help-block">
				For Direct Adding in "User" area
			 	<code ng-show="active.code">http://payment.upstreamacademy.com/user/add/{{active.code}}</code>
			 </span>
		</div>
		<div class="form-group">
			<label class="control-label" for="image">Image</label>
			<input type="text" id="image" name="image" placeholder="Image" ng-model="active.image" class="form-control">
			<span class="help-block">Not Currently Implemented</span>
		</div>

		<div class="form-group">
			<button type="submit" class="btn btn-primary" ng-disabled="itemForm.$invalid || equals(origin, active)" ng-click="save()">Save Item</button>&nbsp;
			<button type="button" class="btn btn-warning" ng-disabled="equals(origin, active)" ng-click="reset()">Reset</button>&nbsp;
			<button type="button" class="btn btn-default" ng-click="cancel()">Cancel</button>
		</div>
	</form>

	<!-- Other things -->
	<div class="col-md-4" ng-show="active">
		<h3>Cart Links</h3>
		<p class="well">
			For links that use ajax, make sure you include <a href="/uacart.js">uacart.js</a> along with <a href="//code.jquery.com/jquery-1.10.2.min.js">jQuery</a> and have the following within your link tag<br/>
			<code> href="#" class="cartAdd" data-item-id="{{active.itemID}}"</code><br/><br/>
			For direct links (like registering) use this link<br/>
			<code>//payment.upstreamacademy.com/conference/{{active.itemID}}</code><br/><br/>
			It is not reccomended to do this for folders.
		</p>

		<hr/>

		<h3>
			<button class="btn btn-success pull-right btn-xs" style="margin-top:10px" ng-click="priceAdd()">Add</button>
			Prices
		</h3>
		<p>Items shown in red modified other items prices</p>
		<div class="well" style="max-height:500px;overflow-x:hidden;overflow-y:auto">
			<table class="table" style="margin-bottom:0">
				<tr ng-repeat="price in myPrices" ng-class="{danger:!price.exact}" class="prices">
					<td class="form-horizontal">
						<!-- <pre>{{price | json}}</pre><br/> -->

						<div class="form-gorup">
							<button class="close pull-right" ng-click="priceRem(price)" ng-show="price.exact">&times;</button>
							<label class="col-sm-4 control-label" for="reason-{{price.priceID}}"><strong>Reason *</strong></label>
							<div class="col-sm-7" ng-switch="price.reasonID">
								<p ng-switch-when="null" style="padding-top:6px">Default</p>
								<select 
									id="reason-{{price.priceID}}" 
									ng-switch-default 
									ng-options="k as v.name for (k,v) in allItems" 
									ng-model="price.reasonID"
									class="form-control input-sm"
									ng-disabled="!price.exact">
								</select>
							</div>
						</div>

						<div class="form-group" ng-show="price.reasonID">
							<div class="col-sm-4 control-label">
								<input 
									type="checkbox"
									ng-model="price.inCart"
									ng-true-value="true"
									ng-false-value="false"
									ng-disabled="!price.exact">
							</div>
							<div class="col-sm-8" class="margin-top:7px">Allow if reason is in cart</div>
						</div>

						<!-- custom questions -->
						<div ng-repeat="question in price.costReq" class="form-group">
							<label for="price-{{question}}" style="text-transform:capitalize;" class="col-sm-4 control-label">{{question}} *</label>
							<div class="col-sm-8">
								<input
									type="text"
									id="price-{{question}}"
									ng-model="price.settings[question]"
									class="form-control input-sm"
									ng-disabled="!price.exact">
							</div>
						</div>

						<div ng-show="priceDifferent(price)">
							<button class="btn btn-success btn-xs" ng-click="priceSave(price)">Save</button>&nbsp;
							<button class="btn btn-warning btn-xs" ng-click="priceReset(price)">Reset</button>
						</div>
					</td>
				</tr>
			</table>
		</div>
		
		<hr>
		
		<!-- Fields -->
		<div class="form-group">
			<h3 class="col-md-3" style="margin-top:3px">Fields</h3>
			<div class="col-md-9 input-group">
				<span class="input-group-addon">Add</span>
				<select class="col-md-2 form-control input-sm" ng-model="addField" ng-options="field.name for (key, field) in fields"></select>
			</div>
		</div>
		<p>
			Items shown in red must be modified on parent<br/>
			Checkbox shows if item is required
		</p>
		<div class="well" style="max-height:500px;overflow-x:hidden;overflow-y:auto" ng-show="myFields">
			<table class="table" style="margin-bottom:0">
				<tr ng-repeat="field in myFields | orderBy:'order'" ng-class="{danger: !field.exact}">
					<td>
						<input type="checkbox" ng-model="field.required" ng-true-value="true" ng-false-value="false" style="margin:0" ng-disabled="!field.exact" ng-change="chgField(field)">&nbsp;
						{{field.name}}
						<div class="pull-right" ng-show="field.exact">
							<i class="glyphicon glyphicon-chevron-up" ng-click="mvField(-1, field)" ng-hide="$first"></i>
							<i class="glyphicon glyphicon-chevron-down" ng-click="mvField(1, field)" ng-hide="$last"></i>
							<button class="close" ng-click="rmField($event, field)">&times;</button>
						</div>
						<br/>
						<label class="radio-inline">
							<input type="radio" ng-model="field.onUser" value="true" ng-change="chgField(field)"> On User
						</label>
						<label class="radio-inline">
							<input type="radio" ng-model="field.onUser" value="false" ng-change="chgField(field)"> On Firm
						</label>
					</td>
				</tr>
			</table>
		</div>
		<!-- End Fields -->
	</div>
</div>
