<script type="text/ng-template" id="registerFirmTypeAheadTPL.html">
	<a>
		<span bind-html-unsafe="match.label | typeaheadHighlight:query"></span> 
		(<span>{{ match.model.website | replace:{'http://':'','https://':''} }}</span>)
	</a>
</script>

<form class="form-horizontal css-form" name="registration" ng-switch="formState">
	<div class="row" ng-switch-default >
		<fieldset class="col-md-6 col-md-offset-3">
			<legend>To register, please enter your email address</legend>

			<div class="form-group">
				<label class="col-sm-3 col-sm-3" for="email">Email Address *</label>
				<div class="col-sm-9">
					<div class="input-group">
						<input class="form-control" type="email" name="check" ng-model="user.email" placeholder="Email Address" required>
						<span class="input-group-btn">
							<button type="submit" class="btn btn-success" ng-disabled="registration.check.$invalid" ng-click="checkEmail()">Start</button>
						</span>
					</div>
					<span ng-show="registration.check.$invalid" class="help-block">Please enter a valid email address.</span>
				</div>
			</div>
		</fieldset>
	</div>

	<div class="row" ng-switch-when="-1">
		<fieldset class="col-md-6 col-md-offset-3">
			<legend>An account for this email address already exists</legend>

			<button type="button" class="btn btn-primary pull-right btn-xs" ng-click="pwReset()">Password Reset</button>
			<p>Please perform a password reset by clicking the link to the right.</p>

			<notify message="resetMsg"></notify>
		</fieldset>
	</div>

	<div class="row" ng-switch-when="1">
		<fieldset class="col-md-6">
			<legend>Firm Information</legend>

			<p class="ctr"><strong>Find</strong> your firm</p>

			<div class="well">
				<div class="well-overlay" ng-hide=" user.firm.toString() === user.firm || (user.firm.firmID !== undefined || user.firm === undefined) "></div>
				<button type="button" class="close" ng-click="clearFirm()" ng-hide="user.firm === undefined">&times;</button>
				<div class="form-group">
					<label class="col-sm-4" for="firmFind">Type your firm name to find your firm</label>
					<div class="col-sm-7">
						<input class="form-control" type="text" id="firmFind" ng-model="user.firm" typeahead="firm as firm.name for firm in firms | filter:{name:$viewValue} | limitTo:8" placeholder="Firm Search" typeahead-template-url="registerFirmTypeAheadTPL.html">
					</div>
				</div>
			</div>

			<p class="ctr">
				<strong>Or</strong><br/>
				If your firm is not in the list above, you can add it.
			</p>

			<div class="well">

				<div class="well-overlay" ng-show="(!firmModified && user.firm.firmID !== undefined) || (user.firm.toString() === user.firm && user.firm !== '')">
					<button type="button" class="btn btn-warning well-clear-btn btn-lg" ng-click="modifyFirm()" ng-hide="user.firm.toString() === user.firm" style="height: 68px; margin-top: -34px">
						Modify Firm<br/>Contact Information
					</button>
				</div>

				<button type="button" class="close" ng-click="clearFirm()" ng-hide="user.firm === undefined">&times;</button>
				<div class="form-group">
					<label class="col-sm-3" for="firmName">Firm Name *</label>
					<div class="col-sm-8">
						<input class="form-control" type="text" id="firmName" ng-model="user.firm.name" placeholder="Firm Name" required>
						
					</div>
				</div>

				<div class="form-group">
					<label class="col-sm-3" for="firmWeb">Firm Website *</label>
					<div class="col-sm-9">
						<input class="form-control" type="text" id="firmWeb" ng-model="user.firm.website" placeholder="Firm Website" required>
						<span class="help-inline">UpstreamAcademy.com</span>
					</div>
				</div>

				<div class="form-group">
					<label class="col-sm-3" for="firmName">Firm Address *</label>
					<div class="col-sm-9">
						<div ng-switch="user.firm.addr.addressID">

							<div ng-switch-when="undefined" class="input-group">
								<input class="form-control" type="text" value="Click 'set' to enter an address" disabled />
								<span class="input-group-btn">
									<button type="button" class="btn btn-info" ng-click="setAddr('firm')">Set</button>
								</span>
							</div>

							<div ng-switch-default class="input-group">
								<input class="form-control" type="text" value="{{user.firm.addr.addrName}}" disabled />
								<span class="input-group-btn">
									<button type="button" class="btn btn-warning" ng-click="setAddr('firm')">Edit</button>
								</span>
							</div>

						</div>
					</div>
				</div>

			</div>

			<notify message="message"></notify>
		</fieldset>

		<fieldset class="col-md-6">
			<legend>User Information</legend>

			<div class="form-group">
				<label class="col-sm-3" for="legalName">Legal Name *</label>
				<div class="col-sm-9">
					<input class="form-control" type="text" id="legalName" ng-model="user.legalName" placeholder="Legal Name" required>
				</div>
			</div>

			<div class="form-group">
				<label class="col-sm-3" for="preName">Preferred Name&nbsp;*</label>
				<div class="col-sm-9">
					<input class="form-control" type="text" id="preName" ng-model="user.preName" placeholder="Preferred Name">
					<span class="help-inline">(i.e., Bill instead of William, etc.)</span>
				</div>
			</div>

			<div class="form-group">
				<label class="col-sm-3" for="title">Title / Position *</label>
				<div class="col-sm-9">
					<input class="form-control" type="text" id="title" ng-model="user.title" placeholder="Title / Position" required>
				</div>
			</div>

			<div class="form-group">
				<label class="col-sm-3" for="phone">Phone *</label>
				<div class="col-sm-9">
					<input class="form-control" type="text" id="phone" ng-model="user.phone" placeholder="Phone" name="phone" ua-phone required>
					<span class="help-inline">(xxx) xxx-xxxx</span>
				</div>
			</div>

			<div class="form-group">
				<label class="col-sm-3" for="email">Email Address</label>
				<div class="col-sm-9">
					<input class="form-control" type="text" value="{{user.email}}" disabled />
				</div>
			</div>

			<div class="form-group">
				<label class="col-sm-3">Address *</label>
				<div class="col-sm-9">
					<div ng-switch="user.addr.addressID">

						<div ng-switch-when="undefined" class="input-group">
							<input class="form-control" type="text" value="Click 'set' to enter an address" disabled />
							<span class="input-group-btn">
								<button type="button" class="btn btn-info" ng-click="setAddr('addr')" ng-disabled="user.same">Set</button>
							</span>
						</div>

						<div ng-switch-default class="input-group">
							<input class="form-control" type="text" value="{{user.addr.addrName}}" disabled />
							<span class="input-group-btn">
								<button type="button" class="btn btn-warning" ng-click="setAddr('addr')"  ng-disabled="user.same">Edit</button>
							</span>
						</div>

					</div>
					<label class="checkbox"><input type="checkbox" ng-model="user.same" >Same as Firm</label>
				</div>
			</div>

			<div class="well">
				<div ng-show="registration.inputPassword.$error.passValid">
					<p>Unfulfilled Password Requirements:</p>
					<ul>
						<li ng-show="registration.inputPassword.$error.metLength">At least 6 characters long</li>
						<li ng-show="registration.inputPassword.$error.isSpecial">At least 1 number <strong>OR</strong> 1 special character</li>
					</ul>
				</div>

				<div class="form-group">
					<label class="col-sm-3" for="inputPassword">Password *</label>
					<div class="col-sm-9">
						<input class="form-control" type="password" id="inputPassword" name="inputPassword" ng-model="user.password" placeholder="Password" ua-pass-validate required>
					</div>
				</div>

				<div class="form-group">
					<label class="col-sm-3" for="inputPassword2">Re-type Password *</label>
					<div class="col-sm-9">
						<input class="form-control" type="password" id="inputPassword2" ng-model="user.passCheck" placeholder="Password" required>
					</div>
				</div>

			</div>

		</fieldset>
	</div>

	<div class="form-actions navbar navbar-default" ng-show="formState == 1">
		<p>* Required Field</p>
		<button type="submit" class="btn btn-primary pull-right" ng-click="register()" ng-disabled="registration.$invalid">Create an Account</button>&nbsp;
		<a href="/" class="btn btn-default">Cancel</a>
	</div>

</form>

