Options +FollowSymLinks
IndexIgnore */*
RewriteEngine on

# if a directory or a file exists, use it directly
RewriteCond %{REQUEST_FILENAME} -s [OR]
RewriteCond %{REQUEST_FILENAME} -l [OR]
RewriteCond %{REQUEST_FILENAME} -d

# otherwise forward it to index.html 
RewriteRule ^.*$ - [NC,L]
RewriteRule ^. /index.html [NC,L]

AuthType	Basic
AuthName	"Development Only"
AuthGroupFile	"/dev/null"
AuthUserFile	"/domains/u/upstreamacademy.com/htdocs/payment/.htpasswd"
Require		valid-user

