/* for consistent block sizing on /products and /products/[0-9]+ */
.thumbnail .caption {
	height: 260px;
	overflow: hidden;
	position: relative;
}
.thumbnail .caption .btn {
	position: absolute;
	bottom: 7px;
}
.thumbnail .caption .btn.pull-right {
	right: 7px;
}

/* don't wrap on specific th fields */
th.nowrap, td.nowrap {
	white-space: nowrap;
}

/* For printing recipt page, needs re-working */
@media print {
	.header, .btn { display: none;}
}

/* form validation */
.css-form input.ng-invalid.ng-dirty {
	background-color: #FA787E;
}
.css-form input.ng-valid.ng-dirty {
	background-color: #78FA89;
}

/* alert styles */
.alert a {
	color: #f09800;
}
.alert a:hover, .alert a:focus {
	color: #7f6943;
}

/* well features */
.well {
	position: relative;
}
.well .well-overlay {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: rgba(138, 138, 138, 0.25);
	z-index: 5;
	border-radius: inherit;
}

/* helpers */
.ctr {
	text-align: center;
}