/* for consistent block sizing on /products and /products/[0-9]+ */
.thumbnail .caption {
	height: 260px;
	overflow: hidden;
	position: relative;
}
.thumbnail .caption .btn {
	position: absolute;
	bottom: 7px;
}
.thumbnail .caption .btn.pull-right {
	right: 7px;
}

/* nav */
.navbar-brand.active {
	color: #555;
	background-color: #e7e7e7;
}

/* don't wrap on specific th fields */
th.nowrap, td.nowrap {
	white-space: nowrap;
}

/* For printing recipt page, needs re-working */
@media print {
	.header, .btn, .feedback { display: none;}
}

/* form validation */
.css-form input.ng-invalid.ng-dirty {
	background-color: #FA787E;
}
.css-form input.ng-valid.ng-dirty {
	background-color: #78FA89;
}

/* well features (register) */
.well {
	position: relative;
}
.well .well-overlay {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: rgba(0, 0, 0, 0.6);
	z-index: 5;
	border-radius: inherit;
}
.well .well-overlay .well-clear-btn.btn-lg {
	position: absolute;
	top: 50%;
	left: 50%;
	height: 44px;
	min-width: 140px;
	margin: -22px 0 0 -70px;
}

/* modal styled */
.modal.login .modal-dialog {
	width: 660px;
}

/* loader styles */
.loader {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: rgba(100, 100, 100, 0.8);

	-webkit-transition: all .5s;
	-moz-transition: all .5s;
	-ms-transition: all .5s;
	-o-transition: all .5s;
	transition: all .5s;

	opacity: 0;
	z-index: -1;
	pointer-events: none;
}
.loader div {
	position: fixed;
	top: 50%;
	left: 50%;
	text-align: center;
	background-color: white;
	padding: 10px;
	margin: -25px 0 0 -55px; /* add 1/2 padding */

	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	-ms-border-radius: 20px;
	-o-border-radius: 20px;
	border-radius: 20px;

	-webkit-box-shadow: #444444 0 0 20px;
	-moz-box-shadow: #444444 0 0 20px;
	-ms-box-shadow: #444444 0 0 20px;
	-o-box-shadow: #444444 0 0 20px;
	box-shadow: #444444 0 0 20px;
}
.loader div p {
	margin-bottom: 0;
}
.loader.active {
	opacity: 1;
	z-index: 6;
	pointer-events: auto;

	-webkit-transition: opacity .5s;
	-moz-transition: opacity .5s;
	-ms-transition: opacity .5s;
	-o-transition: opacity .5s;
	transition: opacity .5s;
}
.loader p.warn {
	margin:20px -120px;
	padding:10px;
	background-color: white;

	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	-ms-border-radius: 20px;
	-o-border-radius: 20px;
	border-radius: 20px;

	-webkit-box-shadow: #444444 0 0 20px;
	-moz-box-shadow: #444444 0 0 20px;
	-ms-box-shadow: #444444 0 0 20px;
	-o-box-shadow: #444444 0 0 20px;
	box-shadow: #444444 0 0 20px;
}

/* helpers */
.ctr {
	text-align: center;
}
.well > .form-group:last-child {
	margin-bottom: 0;
}
.form-actions{padding:19px 20px 20px;margin-top:20px;margin-bottom:20px;*zoom:1;}
.form-actions:before,.form-actions:after{display:table;content:"";line-height:0;}
.form-actions:after{clear:both;}

/* Sticky footer styles  */
html, body {
	height: 100%;
}
#wrap {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0 auto -60px; /* Negative indent footer by it's height */
}
#push, #footer {
	height: 60px;
}
#push {
	margin-top: 10px; /* ensure spacing above footer */
}
#footer {
	margin-bottom: 0;
	border-radius: 0;
}
@media (max-width: 767px) {
	#footer {
		margin-left: -20px;
		margin-right: -20px;
		padding-left: 20px;
		padding-right: 20px;
	}
}
.container .credit {
	margin: 20px 0;
}

/* style that header */
.page-header {
	position: relative;
	padding: 0 20px;
	border-bottom: 5px solid #B6CFD3;
	border-radius: 10px 10px 0 0;
	background-color: #FAD98C;
	background-image: url(/top_bkg_payment.png);
}
.page-header img {
	position: absolute;
	bottom: -20px;
}
.page-header h2 {
	margin-left: 160px;
}
.cart-link {
	padding-top: 20px;
}

.table-hover tbody tr {
	cursor: pointer;
}