<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title><%= grunt.config.get('pkg.name') %></title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<!-- for angular -->
	<script src="angular.js"></script>
	<script src="angular-ui.js"></script>

	<!-- for bootstrap -->
	<link href="bootstrap.css" rel="stylesheet">
	<script src="//code.jquery.com/jquery-1.10.2.min.js"></script>
	<script src="//getbootstrap.com/dist/js/bootstrap.min.js"></script>

	<!-- for app -->
	<script src="<%= grunt.config.get('pkg.name') %>.js"></script>
</head>
<body>
	<div ng-app="myApp" class="container">
		<div class="header" ng-controller="HeadCtrl">
			<div class="pull-right"><a href="#/cart">Cart <span class="badge">{{myCart.len()}}</span></a></div>

			<div class="page-header">
				<h1>{{myPage.getTitle()}} <small>{{myPage.getSubTitle()}}</small></h1>
			</div>

			<div class="navbar navbar-default" role="navigation">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href="#/">Upstream Academy Shop</a>
				</div>
				<div class="navbar-collapse collapse">
					<ul class="nav navbar-nav">
						<li ng-class="{active: breadcrumbs.onPage('products')}"><a href="#/products">Products</a></li>
						<li ng-class="{active: breadcrumbs.onPage('cart')}"><a href="#/cart">Shopping Cart</a></li>
					</ul>
					<p class="navbar-text navbar-right">Signed in as <a href="#" class="navbar-link">Nathan Woods</a></p>
				</div><!--/.nav-collapse -->
			</div>

			<ul class="breadcrumb">
				<li><a  href="#/">home</a></li>
				<li ng-repeat="breadcrumb in breadcrumbs.getAll()">
					
					<ng-switch on="$last">
						<span ng-switch-when="true" class="active">{{breadcrumb.name}}</span>
						<span ng-switch-default><a href="{{breadcrumb.path}}">{{breadcrumb.name}}</a></span>
					</ng-switch>
				</li>
			</ul>
		</div>
		<ng-view>Loading Application...</ng-view>
		<div class="footer">
			<p>Copyright NOW</p>
		</div>
	</div>
</body>
</html>